#jpg{

max-height: 130px;
padding-top:5px;



}



a{
text-decoration:none;
color:red;
}
#zdjecie{
z-index:2;
margin-top:50px;
background-color:white;
height:500px;
width:1000px;
margin-left:300px;
box-shadow: inset 400px 0 15px -4px black, inset -400px 0 8px -4px black;

}
#einstein{
z-index:1;
max-height:500px;
box-shadow: inset 400px 0 15px -4px black, inset -400px 0 8px -4px black;


}
#content{
margin-top: 40px;
background-color:gray;
padding-top:20px;
height:650px;

}
#footer{
color:red;
font-size:25px;
margin-top:20px;
float:right;
margin-right:20px;

}
#info{
font-size:25px;
width:100%;

float:right;
color:red;
}
#nav{
font-size:25px;
font-family:arial;
float:left;
color:red;
}
#main-header{

margin-left:50px;
margin-right: 50px;
background-color:white;

}
body{
background-color:black;
}
